body{
    background-color: rgb(166, 169, 169);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(122, 172, 172);
    box-shadow: 10px 10px  10px 10px rgba(193, 140, 140, 0.7);
    color:aliceblue;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
}
.currencyconvertor{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.currencyconvertor select{
    padding: 10px;
}
.currencyconvertor input{
    border:0;
    background:transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}
.exchange-rate{
    font-size: 16px;
    font-weight: 600;
}
select:focus,
input:focus{
    outline: 0;
}